
<div class="text-center">
    <h1>Конференция по ASP.NET-CORE 6.2</h1>
    <h2>Конференция начинается в @DateTime.Now</h2>

    <h3>
            <li>
                  Организатор: Егор Захаров Павлович
            </li
    </h3>

    <h4>
            <li>
              <td>  Cпонсоры: MicrosoftCorporation</td>
            </li>

            <li>
             <td>Программа:ASP.NET-CORE 6.2 и его особенности.</td>
            </li>

    </h4>
          
    <H2>
      <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Ссылка на регистрацию</a>
      <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Ссылка на вход</a>
      <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Ссылка на конференцию</a>

    </H2>
</div>
