@model MicrosoftTeams.ViewModels.CreateUserViewModel
<h2>Регистрация нового пользователя</h2>



"  <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Ссылка на регистрацию</a>